NODE_ENV=development
PORT=2301
WEB_ORIGIN=http://localhost:3000
DB_URL='postgresql://postgres:postgres@localhost:5401'
DB_MAX_RETRIES=5
JWT_KID=v1
JWT_ISS=Clove
REFRESH_TOKEN_EXPIRY="6 * 60 * 60"
ACCESS_TOKEN_EXPIRY="15 * 60"
SESSION_LIMIT=5
REDIS_URL="redis://default:redis@localhost:6301"
EMAIL_VERIFICATION_TOKEN_EXPIRY_MS="60 * 60 * 1000"
RESEND_API_KEY

# variable(s) used in production
API_ORIGIN